/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require chosen
 *= require_tree .
 *= require_self
 */

.accordion-heading .accordion-toggle {
	display: inline;
	vertical-align: middle;
}

.accordion {
	margin-top: 7px;
}

.accordion-heading {
	margin-left: 5px;
}

table thead th{
    background-repeat: no-repeat;
    background-position: center right;
}

.tablesorter-header {
background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}

.tablesorter-headerAsc {
background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.tablesorter-headerDesc {
background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

div.infobox {
	width:200px;
	height:150px;
}

.alert .close {
	float: left;
	left: -5px;
}

.accordion a {
	text-decoration: none;
	color: #333333;
}

.accordion form {
	margin: 0px;
}

.accordion h3 {
	line-height: 25px;
}

#event_start_time_4i, #event_start_time_5i {
	width: 105px;
}