<div id ='share' class='modal hide fade in"'>
  <div class='modal-header'>
    <a class="close" data-dismiss="modal">&times;</a>  
    <h3 id="modal_title"></h3>
  </div>
  <div class='modal-body'>
    <p id="modal_body"></p>
  </div>
  <div class='modal-footer'>
    <a href='#' class='btn' data-dismiss="modal">Close</a>
    <a href='#' class='btn btn-primary'>Post</a>
  </div>
</div>