<%= render(:partial => 'shared/alertwarning') %>

<div class="span3">
	<div class="accordion" id="accordionMapIndex">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a data-toggle="collapse" data-parent="#accordionMapIndex" href="#collapseFilter">
					<h3>
						Filter Map <i class="accordion-button pull-right icon-chevron-down"></i>
					</h3>
				</a>
			</div>
			<div id="collapseFilter" class="accordion-body collapse in">
		  		<div class="accordion-inner">
					<%= render(:partial => 'filter') %>
		  		</div>
			</div>
		</div>
		<div class="accordion-group">
		  	<div class="accordion-heading">
		  		<a data-toggle="collapse" data-parent="#accordionMapIndex" href="#collapseAddEvent">
  					<h3>
  						Add Event <i class="accordion-button pull-right icon-chevron-right"></i>
  					</h3>
		  		</a>
			</div>
			<div id="collapseAddEvent" class="accordion-body collapse">
		  		<div class="accordion-inner">
					<%= render 'events/form' %>
		  		</div>
			</div>
		</div>
	</div>
</div>

<div class="span8">
	<%= render(:partial => 'gmaps') %>
</div>